body {
    background-color: #fec7d7;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-top:100px;
    text-align: center; 
}
h2{
    text-align: center;
    color: #c74b72;
}
h3{
    padding: 0 400px;
    font-style: italic;
}
p{
   padding: 0 400px
}
img{
    padding: 0 450px
}
.color-box {
        background-color: #fffffe;
        color: #0e172c;
        margin-top: 70px;
        margin-bottom: 100px;
        margin-left: 700px;
        margin-right: 700px;
        text-align: center;
        font-size: larger;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    input[type=submit] {
        background-color: #0e172c;
        color: #fffffe;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 50px;
    }
    input[type=submit]:hover {
        background-color: #a786df;
    }
     ol, ul{
         padding: 0 450px
     }
     
     td {
         padding: 15px;
         text-align: left;
         border-bottom: 1px solid #ddd;
     }
     tr:nth-child(even) {
         background-color: #f2f2f2;
     }
     th{
         background-color: #eeafc3;
         padding: 15px;
         text-align: left;
         border-bottom: 1px solid #ddd;
     }
     table { 
         margin-left: auto;
         margin-right: auto;
     }